<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/customer-create']">
    <mat-icon>add</mat-icon>
  </a>
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">


    <ng-container matColumnDef="Customer_name">
      <th mat-header-cell *matHeaderCellDef> Customer Name</th>
      <td mat-cell *matCellDef="let element"> {{element.Customer_name}} </td>
    </ng-container>


    <ng-container matColumnDef="Customer_email">
      <th mat-header-cell *matHeaderCellDef> Customer Email</th>
      <td mat-cell *matCellDef="let element"> {{element.Customer_email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/customer-details/', row._id]"></tr>
  </table>
</div>
